<head>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="assets/css/style.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="assets/css/pages/page_pricing.css">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/theme-colors/default.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">
</head>
<br>

<br>

<div class="row no-space-pricing pricing-zoom">
    <div class="col-md-4 col-sm-6"></div>
    <div class="col-md-4 col-sm-6">
        <div class="pricing" >
            <div class="pricing-head">
                <h3 style="background-color:#46b8da">Actualizar perfil</h3>
                <h4><i></i></h4>
            </div>
            <div class="pricing-footer">
                <%= render "member_update_profile" %>
            </div>
            <%= link_to "no quiero actualizar mi perfil", strategies_path, id: "link_pago" %> <br>
            <small><%= link_to "cancelar mi  cuenta", landing_page_cancelar_cuenta_path, id: "link_pago", style: "color:#95a5a6" %></small>
            <%#= button_to "cancelar mi cuenta", registration_path(resource_name), data: { confirm: "está seguro?" }, method: :delete %>

          </div><br>
    </div>
    <div class="col-md-4 col-sm-6"></div>
</div><!--/row-->
        <!-- End Pricing "No Spacing" -->






