


<!-- Princing  -->

<head>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="assets/css/style.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="assets/css/pages/page_pricing.css">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/theme-colors/default.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">
</head>

<br>
<br>

<div class="row no-space-pricing pricing-zoom">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-sm-12">
        <div class="pricing" >
            <div class="pricing-head">
                <h3 style="background-color:#46b8da">Recuperar contraseña</h3>
                <h4><i></i></h4>
            </div>
            <div class="pricing-footer">
                <%= render "recover_password_form" %>
            </div>
        </div><br>
    </div>
    <div class="col-md-4"></div>
</div><!--/row-->
        <!-- End Pricing "No Spacing" -->






