<!-- Princing  -->


<head>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="assets/css/style.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="assets/css/pages/page_pricing.css">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/theme-colors/default.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">
</head>

<div class="row no-space-pricing pricing-zoom">
            <div class="col-md-3 col-sm-6">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>Begginer <span>Labore et dolore magnaras </span></h3>
                        <h4><i>$</i>5<i>.49</i> <span>Per Month</span></h4>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li><i class="fa fa-gift"></i> Free customisation </li>
                        <li><i class="fa fa-inbox"></i> 24 hour support</li>
                        <li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
                        <li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
                        <li><i class="fa fa-umbrella"></i> Online Protection</li>
                    </ul>
                    <div class="pricing-footer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor .</p>
                        <a class="btn-u" href="#"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                  </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>Pro Unify <span>Labore et dolore magnaras</span></h3>
                        <h4><i>$</i>8<i>.69</i> <span>Per Month</span></h4>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li><i class="fa fa-gift"></i> Free customisation </li>
                        <li><i class="fa fa-inbox"></i> 24 hour support</li>
                        <li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
                        <li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
                        <li><i class="fa fa-umbrella"></i> Online Protection</li>
                    </ul>
                    <div class="pricing-footer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor .</p>
                        <a class="btn-u" href="#"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>Premium <span>Labore et dolore magnaras </span></h3>
                        <h4><i>$</i>69<i>.99</i><span>Per Month</span></h4>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li><i class="fa fa-gift"></i> Free customisation </li>
                        <li><i class="fa fa-inbox"></i> 24 hour support</li>
                        <li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
                        <li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
                        <li><i class="fa fa-umbrella"></i> Online Protection</li>
                    </ul>
                    <div class="pricing-footer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor .</p>
                        <a class="btn-u" href="#"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                   </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>Elite<span>Labore et dolore magnaras </span></h3>
                        <h4><i>$</i>99<i>.00</i> <span>Per Month</span></h4>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li><i class="fa fa-gift"></i> Free customisation</li>
                        <li><i class="fa fa-inbox"></i> 24 hour support</li>
                        <li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
                        <li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
                        <li><i class="fa fa-umbrella"></i> Online Protection</li>
                    </ul>
                    <div class="pricing-footer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor .</p>
                        <a class="btn-u" href="#"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                  </div>
                </div>
            </div>
        </div><!--/row-->
        <!-- End Pricing "No Spacing" -->
    </div><!--/container-->
    <!-- JS Global Compulsory -->
<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29166220-1']);
  _gaq.push(['_setDomainName', 'htmlstream.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
-->