<div class="well container" id="policy">

    <h2>Política de privacidad</h2>

    <p>Innovation Lessons está comprometido con la protección de la privacidad de nuestros usuarios. El propósito de esta declaración es informarles a nuestros usuarios cómo definimos, recogemos y utilizamos la información de identificación personal. Tomaremos pasos razonables para proteger la privacidad del usuario, consistentemente con los lineamientos que se exponen en esta política y en la normatividad legal. Al utilizar este sitio, está procurando su consentimiento con la siguiente política de privacidad. </p>

    <p>Esta política de privacidad se modificó por última vez el 10 de enero de 2015. </p>


    <h3>Información personal</h3>

    <p>La información personal se recoge al llenar un formulario, procesar una orden, o al iniciar sesión. En ningún momento almacenamos o manejamos la información de su tarjeta de crédito directamente.</p>

    <p>Los cookies se utilizan para almacenar información sobre su sesión actual y otras preferencias. Esta información se puede utilizar para rastrear el progreso del usuario y ofrecer una experiencia más personalizada. Los cookies se pueden inhabilitar o borrar en las configuraciones de su navegador web.</p>


    <h3> Terceros </h3>

    <p>No vendemos, intercambiamos o transferimos información de usuarios con terceros. Esto no incluye a los terceros partidos confiables que nos asisten en la operación de nuestro sitio, en la efectuación de asuntos de negocios o en la prestación de servicios, mientras estos terceros partidos acuerden mantener esta información confidencial. También se podría hacer pública la información en cuanto consideremos que sea necesario por ley, para hacer cumplir nuestras políticas o para proteger nuestros derechos, propiedad o seguridad, y los de los demás.</p>

    <p>Todos los sitios de terceros a los que se dan enlaces tienen políticas de privacidad independientes. Por tanto, no nos hacemos responsables por el contenido y las actividades que se realicen en estos sitios.</p>

    <%= link_to "comenzar a aprender!", strategies_path, style: "color:#3498db", id: "link_pago"  %>
</div>