


<!-- Princing  -->

<head>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="assets/css/style.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="assets/css/pages/page_pricing.css">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/theme-colors/default.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">
</head>
<br>

<div class="panel-heading" style="text-align:center">
  <h3>Bienvenido al grupo de quienes se mantienen actualizados de forma rápida y práctica</h3>
  <h5><strong>nuevas estrategias todas las semanas</strong> </h5>
</div>

<div class="row no-space-pricing pricing-zoom">
    <div class="col-md-4 col-sm-6"></div>
    <div class="col-md-4 col-sm-6">
        <div class="pricing" >
            <div class="pricing-head">
                <h3 style="background-color:#46b8da">Ingresar a mi cuenta</h3>
                <h4><i></i></h4>
            </div>
            <div class="pricing-footer">

                <%= render "member_sign_in" %>
            </div>
            <%= render "devise/shared/links" %>
        </div><br>
    </div>
    <div class="col-md-4 col-sm-6"></div>
</div><!--/row-->
        <!-- End Pricing "No Spacing" -->





