
<form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">
  <input type="image" border="0" alt="" src="http://www.payulatam.com/img_botones_herramientas/boton_pagar_grande.png" onClick="this.form.urlOrigen.value = window.location.href;" style="display: block; margin: auto;"/>
  <input name="merchantId" type="hidden" value="523361"/>
  <input name="accountId" type="hidden" value="525007"/>
  <input name="description" type="hidden" value="Suscripción Pro a Innovation Lessons"/>
  <input name="referenceCode" type="hidden" value="00001"/>
  <input name="amount" type="hidden" value="93.50"/>
  <input name="tax" type="hidden" value="0.00"/>
  <input name="taxReturnBase" type="hidden" value="0"/>
<input name="shipmentValue" value="0.00" type="hidden"/>
  <input name="currency" type="hidden" value="USD"/>
  <input name="lng" type="hidden" value="es"/>
  <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
  <input name="buttonType" value="SIMPLE" type="hidden"/>
  <input name="signature" value="dc76e01b30b1e233cc1882981a16e4aa94655ff9bb224a5aeac0e23cfc05417a" type="hidden"/>
</form>
