<p>Hello <%= @resource.email %>!</p>

<!-- <p>Someone has requested a link to change your password. You can do this through the link below.</p> -->
<p>Alguien ha requerido un link para cambiar tu clave. Si fuiste tu, por favor da click en el siguente enlace para crear tu nueva clave:</p>

<p><%= link_to 'cambiar mi clave', edit_password_url(@resource, reset_password_token: @token) %></p>

<!-- <p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p> -->
<p>Si no has solicitado el cambio de clave, por favor ignora este mensaje.</p>

<p>Tu clave permanecerá igual, a menos que ingreses en el link anterior y crees una nueva.</p>

<p>Buen día!,</p>

<p>Equipo Innovation Lessons</p>

